<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestão de Usuarios - Ziuu</title>
</head>
<body>
   
    <h1>Painel Administrativo</h1>
    <table>
        <thead>
            <tr>
                <!-- <th>ID de Usuário</th> -->
                <th>Nome</th>
                <th>email</th>
                <th>tipo</th>
                <th>Ação</th>
            </tr>
        </thead>
        <tbody>
            <% usuarios.forEach(function(usuario){ %>

            <tr> 
                <td><%=usuario.nome %></td>
                <td><%=usuario.email%></td>
                <td><%=usuario.id_tipo_usuario %></td>
                <td>
                    <button onclick="<%=" window.location='/excluir/"+ usuario.id %>'" >
                        delete
                    </button>
                </td>
                
            
                
            </tr>
           <% }); %>
        </tbody>
    </table>

    <% 
    if(paginador){ 
        %>

        <div class="notificador">
            <ul>
                <%
        for(var i=1; i <= paginador.total_paginas; i++){ 
            if(paginador.pagina_atual==i){ 
                %>
                <li><a class="atual" href="?pagina=<%= i %>"> <%= i %> </a></li>
            <%
            } else {
            %>    
                <li><a href="?pagina=<%= i %>"> <%= i %> </a></li>
            <%
            }
        }
        %>
    </ul>
</div>
<%
    }
        %>
</body>
</html>