<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestão de Usuarios - Ziuu</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Caveat+Brush&family=Fira+Code:wght@300&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800&family=Shrikhand&display=swap" rel="stylesheet">
    
        <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css">


    <link rel="stylesheet" href="/css/adm.css">
</head>
<body>

    <nav>

        <div class="container">
            <a href="/home" class="logo"><img src="/img/logo_ziuu.png" alt=""></a>
             
            <ul>
                <li><a href="/home" ><i class="uil uil-estate"></i></a></li>
                <li><a href="/divulgacao"><i class="uil uil-plus-circle"></i></a></li>
                <li><a href="/comunidades"><i class="uil uil-comment"></i></a></li>
                
            </ul>

            <div class="cadastro">
                <a href="/perfil"><img src="/img/fotodeperfil2.png" alt=""  class="fotodeperfil"></a> <!--foto-->
            </div>
            
            
        </div>


    </nav>
   

<div class="painel">
    <h1>Painel Administrativo</h1>
    <table>
        <thead>
            <tr>
                <!-- <th>ID de Usuário</th> -->
                <th>Nome</th>
                <th>email</th>
                <th>tipo</th>
                <th>Ação</th>
            </tr>
        </thead>
        <tbody>
            <% usuarios.forEach(function(usuario){ %>

            <tr> 
                <td><%=usuario.nome %></td>
                <td><%=usuario.email%></td>
                <td><%=usuario.id_tipo_usuario %></td>
                <td>
                    <button  class="delet" onclick="<%=" window.location='/excluir/"+ usuario.id %>'" >
                        delete
                    </button>
                </td>
                
            
                
            </tr>
           <% }); %>
        </tbody>
    </table>

    <% 
    if(paginador){ 
        %>

        <div class="notificador">
            <ul>
                <%
        for(var i=1; i <= paginador.total_paginas; i++){ 
            if(paginador.pagina_atual==i){ 
                %>
                <li><a class="atual" href="?pagina=<%= i %>"> <%= i %> </a></li>
            <%
            } else {
            %>    
                <li><a href="?pagina=<%= i %>"> <%= i %> </a></li>
            <%
            }
        }
        %>
    </ul>
</div>
<%
    }
        %>

</div>
</body>
</html>