<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Divulgação - Ziuu</title>
    <script src="js/notify.js"></script>
    <!-- CSS -->
    <!-- https://github.com/simple-notify/simple-notify -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/simple-notify@0.5.5/dist/simple-notify.min.css" />
    <!-- JS -->
    <script src="https://cdn.jsdelivr.net/npm/simple-notify@0.5.5/dist/simple-notify.min.js"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Caveat+Brush&family=Fira+Code:wght@300&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800&family=Shrikhand&display=swap" rel="stylesheet">
    
        <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css">


    <link rel="stylesheet" href="/css/divulgacao.css">
</head>
<body>
    <% 
  let msgErro = {"usuario_divulgacao":"", "titulo_divulgacao":""};
  let avisoErro = {"usuario_divulgacao":"", "titulo_divulgacao":""};
  if(listaErros){
      listaErros.errors.forEach(function(itemErro){
          if(itemErro.path == "usuario_divulgacao"){
              avisoErro.usuario_divulgacao = "erro";
              msgErro.usuario_divulgacao += " "+itemErro.msg;
              %>
              <script>
                  notify("Erro no preenchimento","Verifique o campo usuario<br><%= itemErro.msg%>", "error", "center")                        
              </script>
              <%
          }
          if(itemErro.path == "titulo_divulgacao"){
              avisoErro.titulo_divulgacao = "erro";
              msgErro.titulo_divulgacao = itemErro.msg;
              %>
              <script>
                  notify("Erro no preenchimento","Verifique o campo descrição<br><%= itemErro.msg%>", "error", "center")                        
              </script>
              <%                
          }
          
      })
  }
  if (dadosNotificacao) { %>
      <script>
              notify("<%= dadosNotificacao.titulo%>","<%= dadosNotificacao.mensagem%>", "<%= dadosNotificacao.tipo%>", "center")
              if("<%= dadosNotificacao.tipo %>" == "success"){
                  setTimeout(function(){window.location="/"}, 3000)
              }                        
      </script>
  <% } %>
    <nav>

        <div class="container">
            <a href="/home" class="logo"><img src="/img/logo_ziuu.png" alt=""></a>
             
            <ul>
                <li><a href="/home" ><i class="uil uil-estate"></i></a></li>
                <li><a href="/divulgacao"><i class="uil uil-plus-circle"></i></a></li>
                <li><a href="/comunidades"><i class="uil uil-comment"></i></a></li>
                
            </ul>

            <div class="cadastro">
                <a href="/usuario"><img src="/img/fotodeperfil2.png" alt=""  class="fotodeperfil"></a> <!--foto-->
            </div>
            
            
        </div>


    </nav>

    <div class="container">
        <div class="left">
           
            <div class="perfil_divul">
                <img src="/img/fotodeperfil3.png" alt=""  class=""> <!--foto-->
             <h3><%= autenticado.autenticado %></h3> <!--Nome-->
             <h4 class="usuario"><%=autenticado.usuario%></h4><!--usuario-->

             <a href="/usuario"><button class="button_perfil">Perfil</button></a>
                
            </div>
                <div class="outros">

                    <h3 class="outros_titul">Outros</h3>

                    <a href="">Sobre nós</a>
                    <br>
                    <a href="/terms">Termos e condições</a>
                    <br>
                    <a href="/privacy">Politica de privacidade</a>



                </div>

        </div>

        <div class="middle">

            <section class="postar">
                <form action="/postar" method="post" enctype="multipart/form-data">
                    <div>
                        <img src="" alt="">
                        <input class="usuario_divulgacao" type="text" value="<%=autenticado.autenticado%>" name="usuario_divulgacao" autocomplete="off">
                    </div>
                    <div>
                        <input class="usuario_divulgacao" type="text" value="" name="titulo_divulgacao" id="" placeholder="Divulge..." autocomplete="off">
                    </div>
                    <div class="img_post">
                        <input class="img_divulgacao" type="file" name="img_divulgacao" autocomplete="off">
                        <button>Postar</button>
                    </div>
                </form>
           </section>

                <section>
                    <% post.forEach(function(divulgacao){ %>
                    <div class="postagem">
                        <div>   
                            <img class="img_postagem" src="<%= divulgacao.img_divulgacao%>" alt="">
                        </div>
                        <div>
                            <img src="" alt="">
                        </div>
                        <div>
                            <img src="" alt="">
                           
                            <h4 class="nome_postagem"><%=divulgacao.usuario_divulgacao%></h4>
                            <span class="titulo_postagem"><%= divulgacao.titulo_divulgacao%></span>
                        </div>
                    </div>
                    <% }); %>
                </section>
                
            



        </div>

        <div class="right">

            <div class="comunidades">

                    <h3>Comunidades</h3>
                    <ul>
                        <li>#artesvisuais</li>
                        <li>#musicas</li>
                        <li>#artedigital</li>
                        <li>#artesanato</li>
                        <li>#audiovisual</li>
                        
                    </ul>
                    
                  <a href="/comunidades"><input type="button" class="vermais" value="Ver mais"></a>

            </div>


        
        </div>

    </div>




    
</body>
</html>