<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Caveat+Brush&family=Fira+Code:wght@300&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800&family=Shrikhand&display=swap" rel="stylesheet">
    
        <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css">

    <link rel="stylesheet" href="/css/perfil.css">
</head>
<body>


    <nav>

        <div class="container">
            <a href="/home" class="logo"><img src="/img/logo_ziuu.png" alt=""></a>
             
            <ul>
                <li><a href="/home" ><i class="uil uil-estate"></i></a></li>
                <li><a href="/divulgacao"><i class="uil uil-plus-circle"></i></a></li>
                <li><a href="/comunidades"><i class="uil uil-comment"></i></a></li>
                
            </ul>

            <div class="cadastro">
              <a href="/perfil"><img src="/img/fotodeperfil2.png" alt=""  class="fotodeperfil"></a> <!--foto-->
            </div>
            
            
        </div>


    </nav>
    <div class="container">
        <div class="left">
           
            <div class="info">
                <h3 class="Suasinformações">Suas informações</h3>

                <div class="user-info">
                    <div class="icon" id="edit-icon" >
                       <a href="/update"> <i class="uil uil-pen"></i></a>
                    </div>
                   

                    <div class="informações">
                
                      <p>Nome:</p>
                      <span><%= autenticado.autenticado%></span>
                      <p>Usuário:</p>
                      <span><%= autenticado.usuario%></span>
                      <p>Email:</p>
                      <span><%= autenticado.email%></span>

                    </div>

                    <a href="/sair"><button class="button_sair">Sair</button></a>
                </div>

                
            

            </div>
                <div class="outros">

                    <h3 class="outros_titul">Outros</h3>

                    <a href="">Sobre nós</a>
                    <br>
                    <a href="/terms">Termos e condições</a>
                    <br>
                    <a href="/privacy">Politica de privacidade</a>



                </div>

        </div>


        <div class="middle">

            <div class="cabecalho">

            <img src="/img/fotodeperfil3.png" alt=""  class="fotodeperfil2"> <!--foto-->
            <h3><%= autenticado.autenticado %></h3> <!--Nome-->
            <h4 class="usuario"><%=autenticado.usuario%></h4><!--usuario-->
           
           

            <div class="segui">
            <h4 class="numero"><%=autenticado.seguidores%>0</h4>
            <h4 class="seguido">Seguidores</h4>

            <input type="checkbox" class="toggle" id="botao">
            <label for="botao"></label>


            </div>
            </div>

            
                <section class="postar">
                    <form action="/postar" method="post" enctype="multipart/form-data">
                        <div>
                            <img src="" alt="">
                            <input class="usuario_divulgacao" type="text" value="<%=autenticado.autenticado%>" name="usuario_divulgacao" autocomplete="off">
                        </div>
                        <div>
                            <input class="usuario_divulgacao" type="text" value="" placeholder="Divulge..." name="titulo_divulgacao" id="" autocomplete="off">
                        </div>
                        <div class="img_post">
                            <input class="img_divulgacao" type="file" name="img_divulgacao" autocomplete="off">
                            <button>Postar</button>
                        </div>
                    </form>


                    
                </section>

                
            
        </div>

        <div class="right">

            <div class="comunidades">

                    <h3>Comunidades</h3>
                    <ul>
                        <li>#artesvisuais</li>
                        <li>#musicas</li>
                        <li>#artedigital</li>
                        <li>#artesanato</li>
                        <li>#audiovisual</li>
                        
                    </ul>
                    
                  <a href="/comunidades"><input class="vermais" type="button" value="Ver mais"></a>

            </div>


        </div>
    </div>

    <script src="/js/perfil.js"></script>
</body>
</html>